<?xml version="1.0"?>
<config>
    <modules>
        <Ksdl_Khaosconnect>
            <version>1.7.4</version>
        </Ksdl_Khaosconnect>
    </modules>
    <global>
        <events>
            <catalog_category_delete_after>
                <observers>
                    <Khaosconnect>
                        <type>singleton</type>
                        <class>Ksdl_Khaosconnect_Model_Observer</class>
                        <method>OnAfterDelete</method>
                    </Khaosconnect>
                </observers>
            </catalog_category_delete_after>
        </events>
        <resources>
            <khaosconnect_setup>
                <setup>
                    <module>Ksdl_Khaosconnect</module>
                    <class>Ksdl_Khaosconnect_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </khaosconnect_setup>
            <khaosconnect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </khaosconnect_write>
            <khaosconnect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </khaosconnect_read>
        </resources>
        <models>
            <khaosconnect>
                <class>Ksdl_Khaosconnect_Model</class>
                <resourceModel>khaosconnect_mysql4</resourceModel>
            </khaosconnect>
            <khaosconnect_mysql4>
                <class>Ksdl_Khaosconnect_Model_Mysql4</class>
                <entities>
                    <logs>
                        <table>khaosconnect_logs</table>
                    </logs>
                </entities>
            </khaosconnect_mysql4>
        </models>
        <helpers>
            <khaosconnect>
                <class>Ksdl_Khaosconnect_Helper</class>
            </khaosconnect>
        </helpers>
        <blocks>
            <khaosconnect>
                <class>Ksdl_Khaosconnect_Block</class>
            </khaosconnect>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ksdl_Khaosconnect after="Mage_Adminhtml">Ksdl_Khaosconnect</Ksdl_Khaosconnect>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <CronCheck>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>khaosconnect/Observer::checkCronJobs</model>
                </run>
            </CronCheck>
        </jobs>
    </crontab>
    <adminhtml> <!-- Don't move to adminhtml.xml as it seems to break -->
        <events>
            <sales_order_save_before>
                <observers>
                    <Khaosconnect>
                        <type>singleton</type>
                        <class>Ksdl_Khaosconnect_Model_Observer</class>
                        <method>OnBeforeSaveOrder</method>
                    </Khaosconnect>
                </observers>
            </sales_order_save_before>
        </events>
        <layout>
            <updates>
                <khaosconnect>
                    <file>khaosconnect.xml</file>
                </khaosconnect>
            </updates>
        </layout>
    </adminhtml>
</config> 